@font-face {
    font-family: "Open Sans", sans-serif;
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
    font-family: "ArchivoBlack-Regular", sans-serif;
    font-style: regular;
    src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"), url("../fonts/ArchivoBlack-Regular.woff") format("woff");
}
body {
    margin: 0;
    box-sizing: border-box;
    padding: 100px;
    background-color: #050505;
    background:
    radial-gradient(
      circle at 80% 25%,
      rgba(90, 100, 255, 0.45) 0%,
      rgba(70, 80, 220, 0.28) 15%,
      rgba(40, 45, 120, 0.15) 30%,
      rgba(0, 0, 0, 0) 70%
    ),
    #050505;
}
.container {
    grid-template-columns: 1fr 400px;
    grid-template-rows: 250px 80px 200px 80px;
    grid-template-areas:
        "name profile-pic"
        "description profile-pic"
        "skills profile-pic"
        "nav profile-pic";
    display: grid;
    align-items: left;
    justify-content: left;
    height: 100%;
     min-height: 100vh;
   }
.name {
    grid-area: name;
    font-family: "ArchivoBlack-Regular", sans-serif;
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: auto;
    justify-content: left;    
}
.description {
    grid-area: description;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: auto;
}
.skills {
    grid-area: skills;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: auto;
    width: 800px;

}
.nav{
    grid-area: nav;
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.nav-list {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;    
    list-style: none;
    display: flex;
    color: #FFFFFF;
    gap: 20px;
    margin-bottom: auto;
}
    .nav-list a {
  position: relative;
  display: inline-block; /* clave */
  width: fit-content;    /* opcional */
  color: #fff;
  text-decoration: none;
  padding-bottom: 12px;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background: linear-gradient(
   90deg,
  #312e81 0%,
  #5b21b6 35%,
  #7c3aed 70%,
  #a5b4fc 100%
);

  border-radius: 2px;
}

.skills-list {   
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: auto;
}
.skills-title {
    font-family: "ArchivoBlack-Regular", sans-serif;
    font-size: 44px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.projects-title {
    font-family: "ArchivoBlack-Regular", sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: auto;
}